.stepper {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  width: auto;
  flex-direction: column;

  &.horizontal {
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin-left: calc(0.5 * var(--font-size));

    &.text-bottom {
      gap: 0;
    }
  }
}
