.header,
.body {
  display: grid;
  grid-template-columns: repeat(5, 1fr) 2.5rem;
  grid-auto-columns: minmax(3.125rem, auto);
  column-gap: 1.25rem;
  row-gap: 0.25rem;
}

.body {
  margin-top: 0.5rem;
}

.header {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #0f0f1e40;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

.header-cell {
  display: flex;

  .headline {
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: 1.5;
    font-weight: 700;
    color: var(--default);
  }
}

.body-cell {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: 1.5;
  color: var(--default);

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  align-self: center;
  min-height: 2.5rem;
}

.sorting-indicator-container {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
  justify-content: center;

  & > * {
    font-size: 0.625rem;
  }

  .indicator {
    color: var(--greyed-out);

    &.active {
      color: var(--color-primary);
    }

    &.hidden {
      visibility: hidden;
    }
  }
}
