.section-wrapper {
  padding-bottom: 4rem;
}

.section-header-wrapper {
  margin-bottom: 1rem;
}

.section-header {
  line-height: 2rem;
  color: var(--color-primary500);
}

// Readonly View Styling Only === Starts ===
[data-readonlyview="true"] {
  & label {
    color: var(--color-blue-grey900);
  }

  & input {
    color: var(--color-blue-grey900);
  }

  span {
    background-color: var(--color-white);
    border-color: var(--color-blue-grey100);
  }

  & .disabled {
    span {
      background-color: transparent;
      border-color: var(--color-blue-grey100);
    }

    background-color: transparent;
    color: var(--color-blue-grey900);
  }
}
// Readonly View Styling Only === Ends ===
