.toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
  padding-bottom: 1rem;

  .actions-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
  }

  .clear-button {
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-decoration: underline;
    color: var(--color-primary500);
    cursor: pointer;
  }
}
