@import '../../mixins.module.scss';

.cell {
  min-height: 3.5rem;
  padding: 0.5rem 0.625rem;

  .loading {
    @include skeletonLoading();
    border-radius: 0.5rem;
    height: 1.25rem;
    margin: 0.625rem 0;
  }
}
