.textarea-label {
  left: calc(
    1.25rem + 2px
  ); // 2px is for offset of the textarea border. It's relative to the parent div which doesn't have a border.
}

.textarea {
  border: 0;
  padding-top: 0;
  padding-right: 0;

  &:focus:not(:disabled) {
    outline: none;
  }

  &:active:not(:disabled) {
    border-color: white;
  }

  &:hover:not(:disabled) {
    border-color: white;
  }
}

.textarea-helper-text {
  margin-top: 0.25rem;
  margin-left: 1.25rem;
}

.textarea-wrapper {
  padding-top: 1.75rem;
  padding-right: 3.75rem;
  padding-bottom: 0.75rem;
  border-color: var(--input-border-color);
  border-style: var(--input-border-style);
  border-width: var(--input-border-width);
  border-radius: var(--input-border-radius);

  &.hover {
    border-color: var(--default);
  }
  &.focus {
    border-color: var(--color-primary);
    outline: 2px auto var(--color-primary);
    -webkit-outline: 2px auto var(--color-primary);
    -moz-outline: 2px auto var(--color-primary);
    -ms-outline: 2px auto var(--color-primary);
    -o-outline: 2px auto var(--color-primary);
  }

  &.disabled {
    color: var(--greyed-out);
    background-color: var(--disabled);
    border-color: #fff;
    cursor: not-allowed;
  }
}

.error-icon {
  top: 1.75rem;
}
