@import "../../../mixins.module.scss";

@include inputLabelPrimaryColorOnFocus("label.textarea-label");

.textarea-wrapper {
  &:after {
    content: "";
    transition: all 0.15s ease-in-out;
    display: block;
    width: calc(95%);
    height: 1.625rem;
    background-color: var(--light);
    position: absolute;
    z-index: 0;
    left: 1px;
    top: 1px;
    border-radius: var(--input-border-radius) var(--input-border-radius) 0 0;
  }

  &.focus:after {
    left: 2px;
    top: 2px;
  }
}

.textarea {
  padding-top: 1.625rem;

  &:active:not(:disabled) {
    border-color: var(--color-primary);
  }

  &:hover:not(:disabled):not(.error) {
    border-color: var(--default);
  }

  &:focus:not(:disabled) {
    outline: none;
  }
}

.textarea-helper-text {
  margin-top: 0.25rem;
  margin-left: 1.25rem;
}

.error-icon {
  top: 1.75rem;
}
