$borderRadius: 2.5rem;

.toggle-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.toggle {
  width: 2rem;
  height: 1.25rem;
  background-color: var(--default);
  border-radius: $borderRadius;
  position: relative;
  transition: background-color 0.2s ease-in-out;
  display: block;
  pointer-events: none;

  &.disabled {
    opacity: 0.25;
    cursor: not-allowed;
  }

  &:before {
    content: '';
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: block;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(0);
    left: 0.125rem;
    transition: transform 0.2s ease-in-out;
  }

  &.checked {
    background-color: var(--color-primary);
    &:before {
      transform: translateY(-50%) translateX(calc(100% - 0.25rem));
    }
  }
}

.toggle-helper {
  margin-left: 2.5rem;
}

.checkbox {
  z-index: 10;
  position: static;

  input {
    width: 2rem;
  }

  input ~ [data-icon][aria-hidden] {
    display: none;
  }

  input:focus-visible {
    + * {
      border-radius: $borderRadius;
    }
  }
}
