.checkbox-group {
  position: relative;
}

.error {
  color: var(--error);
}

.error-message {
  display: flex;
  align-items: bottom;
}

.error-icon {
  margin-right: 8px;
  font-size: 20px;
}

.helper-text {
  margin-top: 20px;
}

.legend {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 20px;
}

.message {
  font-size: inherit;
}