.input-wrapper {
  position: relative;
}

.input {
  height: 64px;
  padding: 0 15px;
  border-color: var(--input-border-color);
  border-style: var(--input-border-style);
  border-width: var(--input-border-width);
  border-radius: var(--input-border-radius);
  transition: all 0.15s ease-in-out;
  font-size: var(--font-size);
  font-family: var(--font-family);
  width: 100%;
  box-sizing: border-box;

  &:disabled {
    color: var(--greyed-out);
    background-color: var(--disabled);
    border-color: #fff;
    cursor: not-allowed;
  }

  &:focus:not(:disabled) {
    outline-color: var(--color-primary);
  }

  &:active:not(:disabled) {
    border-color: var(--color-primary);
  }

  &:hover:not(:disabled) {
    border-color: var(--default);
  }
}

.error {
  border-color: var(--error);
  color: var(--error);
}

.warning {
  color: var(--error);
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 20px;

  &.extra-indent {
    right: 50px;
  }
}