@import "../../mixins.module.scss";

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 4rem;
  border: 0;
  border-radius: var(--input-border-radius);
  background-color: var(--input-background-color);
  padding: 0 1.25rem;
  transition: all 0.2s ease-in-out;

  @include outlineStates;
}

.input {
  padding: 0;
  height: 4rem;
  color: var(--greyed-out);
  font-size: var(--font-size);
  font-family: var(--font-family);
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: var(--input-border-radius);

  &:disabled {
    background-color: var(--disabled);
    cursor: not-allowed;
  }

  @include browserOutlineDisabled;
}

@include outline;

.error input {
  color: var(--error);
  padding-right: 3.5rem;

  &.remove-extra-indent {
    padding-right: 0rem;
  }
}

.warning {
  color: var(--error);
  position: absolute;
  height: 100%;
  width: 1.25rem;
  right: 1.25rem;
  top: 0px;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    height: 1.3125rem;
  }

  &.extra-indent {
    right: 3.75rem;
  }
}

.input-wrapper [data-prefix],
.input-wrapper [data-suffix] {
  transition: all 0.2s ease-in-out;
  display: block;
  z-index: 1;
}
