.typography_style_ {
	&h1 {
		font-size: var(--font-size-h1);
		line-height: calc(var(--font-size-h1) * 1.2);
	}
	
	&h2 {
		font-size: var(--font-size-h2);
		line-height: calc(var(--font-size-h2) * 1.2);
	}
	&h3 {
		font-size: var(--font-size-h3);
		line-height: calc(var(--font-size-h3) * 1.2);
	}
	&h4 {
		font-size: var(--font-size-h4);
		line-height: calc(var(--font-size-h4) * 1.2);
	}

	&body {
		font-size: var(--default-font-size);
	}

	&body-bold {
		font-weight: 700;	
	}

	&sub-text {
		font-size: var(--font-size-sub);
		line-height: calc(var(--font-size-sub) * 1.6);
	}

	&code {
		font-size: var(--default-font-size);
		line-height: calc(var(--default-font-size) * 1.3);
	}
}