.tablist {
  border-bottom-style: var(--tablist-border-style);
  border-bottom-width: var(--tablist-border-width);
  border-bottom-color: rgba(var(--tablist-border-color), 0.25);
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 2rem;
}
