.tabs {
  background-color: var(--tabs-background-color);
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tablist {
  border-bottom-style: var(--tablist-border-style);
  border-bottom-width: var(--tablist-border-width);
  border-bottom-color: var(--tablist-border-color);
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 2rem;
  position: relative;
}

.indicator {
  position: absolute;
  height: 2px;
  background-color: var(--color-primary);
  transition-property: left, width;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
