.form-control {
  padding: 16px 20px;
  border-radius: 8px;

  + .form-control {
    margin-top: 16px;
  }

  &.no-padding {
    padding: 0;
  }

  &.grid {
    display: flex;
    align-items: center;
  }
}

.column {
  flex-grow: 1;
  flex-shrink: 0;

  + .column {
    margin-left: 1rem;
  }
}

.col-2 {
  flex-basis: calc(calc(100% - 16px) / 2);
}

.col-3 {
  flex-basis: calc(calc(100% - 32px) / 3);
}
