.form-control {

  + .form-control {
    margin-top: 16px;
  }

  &.grid {
    display: flex;
    
    &.center,
    &.middle {
      align-items: center;
    }

    &.start,
    &.top {
      align-items: flex-start;
    }

    &.end,
    &.bottom {
      align-items: flex-end;
    }
  }
}

.column {
  flex-grow: 1;
  flex-shrink: 0;

  + .column {
    margin-left: 1rem;
  }
}

.col-2 {
  flex-basis: calc(calc(100% - 16px) / 2);
}

.col-3 {
  flex-basis: calc(calc(100% - 32px) / 3);
}
