@import '../readyclasses.module.scss';

.tile {
  border: 1px solid #e9e9eb;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 0 0 2rem;
  background-color: #fff;
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.29);
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon {
      padding: 0 0.5rem;
    }
  }

  figure {
    margin: 0 0 1rem;
    height: 3rem;

    img {
      vertical-align: top;
      height: 3rem;
      width: auto;
    }
  }

  .placeholder {
    font-size: 3rem;
    margin: 0 0 1rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: default;
    padding: 0 1rem;
  }

  &.loading {
    header {
      display: none;
    }

    .image {
      margin-top: 2.5rem;
      @include skeletonLoading();
      border-radius: 0.5rem;
      width: 3rem;
      height: 3rem;
    }

    .title {
      @include skeletonLoading();
      color: transparent;
      display: inline-block;
      width: 70%;
      border-radius: 0.5rem;
    }
  }
}
