.fieldset {
  border: 0;
  padding: 16px 20px;
  border-radius: 8px;
  margin: 0;

  &.no-padding {
    padding: 0;
  }

  + .wrapper,
  + .fieldset {
    margin-top: 16px;
  }

  .title {
    display: block;
    margin-bottom: 16px;
  }
}