.context-menu {
  position: relative;
  display: inline-block;
  box-sizing: border-box;

  ul {
    white-space: nowrap;
  }
}

.menu {
  margin: 2rem 0;
  list-style: none;
  padding: 0;
  min-width: 200px;

  button {
    text-align: left;
  }
}
