.context-menu-item {
  position: relative;

  button {
    background-color: transparent;
    border: 0;
    font-family: var(--font-family);
    font-size: var(--font-size);
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 8px 20px;
    box-sizing: border-box;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    pointer-events: none;
  }

  &:hover:after {
    background-color: var(--color-primary);
  }
}
