.context-menu {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
}

.menu {
  white-space: nowrap;
  margin: 1rem 0;
  list-style: none;
  padding: 0;
  min-width: 200px;

  &.no-margin-top {
    margin: 0 0 1rem;
  }

  button {
    text-align: left;
  }
}

.decorative-element {
  margin-top: 1rem;
}
