.context-menu {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
}

.menu {
  white-space: nowrap;
  margin: 1rem 0;
  list-style: none;
  padding: 0;
  min-width: 200px;

  button {
    text-align: left;
  }
}
