.floating-wrapper {
  position: relative;
}

.floating-label {
  position: absolute;
  z-index: 1;
  top: 21px;
  left: 15px;
  transform-origin: left top;
  transition: all .1s ease-in-out;
  cursor: text;
  pointer-events: none;

  &.floating-label-active {
    font-size: 12px;
    transform: translateY(-13px);
  }
}

.wrapper + fieldset,
.wrapper + .wrapper {
  margin-top: 16px;
}