.floating-wrapper {
  position: relative;

  .floating-label {
    font-family: var(--font-family);
    font-size: 1rem;
    position: absolute;
    z-index: 2;
    top: 1.3125rem;
    left: 1.25rem;
    transform-origin: left top;
    transition: all 0.2s ease-in-out;
    pointer-events: none;

    &.floating-label-active {
      font-size: 0.75rem;
      transform: translateY(-0.8rem);
      color: var(--default);
    }

    &.error {
      color: var(--error);
    }

    &.disabled {
      color: var(--greyed-out);
    }
  }
}

.wrapper + fieldset,
.wrapper + .wrapper {
  margin-top: 1rem;
}

.required {
  &:after {
    content: " *";
  }
}
