.dialog {
  align-items: center;
}

@media only screen and (min-width: 50em) {
  .container {
    width: auto;
    max-width: 440px;
    margin-top: 0;
    max-height: 90%;
  }
}

.content {
  padding-top: 0;
}
