.section-wrapper {
   padding-bottom: 4rem;
}

.section-header-wrapper {
    margin-bottom: 1rem;
}

.section-header {
    font-size: 1.25rem;
    line-height: 2rem;
    color: var(--color-primary500);
}
.subtext {
    font-size: .75rem;
}