.button {
  border-width: var(--button-border-width);
  border-style: var(--button-border-style);
  border-radius: var(--button-border-radius);
  font-size: var(--button-font-size);
  line-height: var(--button-font-size);
  padding: 10px 15px;
  margin: 0;
  cursor: pointer;
  transition: color,background-color 0.2s ease-in-out;
  font-family: var(--font-family);

  &:disabled {
    color: var(--greyed-out);
    cursor: not-allowed;
  }
}
