@import '../readyclasses.module.scss';

.fill {
  color: var(--button-fill-text-color);
  font-weight: bold;

  &.primary:not(:disabled) {
    background-color: var(--color-primary);
    border-color: var(--color-primary);

    @include focusOutline(var(--color-primary));

    &:hover,
    &:focus {
      color: var(--color-primary);
    }

    &:active {
      position: relative;
      color: var(--color-primary);

      &:after {
        content: '';
        position: absolute;
        top: calc(-1 * var(--button-border-width));
        left: 0;
        width: 100%;
        height: calc(100% + var(--button-border-width));
        background-color: var(--color-primary);
        border-radius: var(--button-border-radius);
        filter: opacity(0.1);
      }
    }
  }

  &.secondary:not(:disabled) {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);

    @include focusOutline(var(--color-secondary));

    &:hover,
    &:focus {
      color: var(--color-secondary);
    }

    &:active {
      position: relative;
      color: var(--color-secondary);

      &:after {
        content: '';
        position: absolute;
        top: calc(-1 * var(--button-border-width));
        left: 0;
        width: 100%;
        height: calc(100% + var(--button-border-width));
        background-color: var(--color-secondary);
        border-radius: var(--button-border-radius);
        filter: opacity(0.1);
      }
    }
  }

  &.tertiary:not(:disabled) {
    background-color: var(--color-tertiary);
    border-color: var(--color-tertiary);

    @include focusOutline(var(--color-tertiary));

    &:hover,
    &:focus {
      color: var(--color-tertiary);
    }

    &:active {
      position: relative;
      color: var(--color-tertiary);

      &:after {
        content: '';
        position: absolute;
        top: calc(-1 * var(--button-border-width));
        left: 0;
        width: 100%;
        height: calc(100% + var(--button-border-width));
        background-color: var(--color-tertiary);
        border-radius: var(--button-border-radius);
        filter: opacity(0.1);
      }
    }
  }

  &.default:not(:disabled) {
    background-color: var(--default);
    border-color: var(--default);

    @include focusOutline(var(--default));

    &:hover,
    &:focus {
      color: var(--default);
    }

    &:active {
      position: relative;
      color: var(--default);

      &:after {
        content: '';
        position: absolute;
        top: calc(-1 * var(--button-border-width));
        left: 0;
        width: 100%;
        height: calc(100% + var(--button-border-width));
        background-color: var(--default);
        border-radius: var(--button-border-radius);
        filter: opacity(0.1);
      }
    }
  }

  &:hover:not(:disabled),
  &:focus:not(:disabled),
  &:active:not(:disabled) {
    background-color: var(--button-fill-background-color);
  }

  &:disabled {
    background-color: var(--disabled);
    border-color: var(--disabled);
  }
}

.outline {
  background-color: var(--button-fill-background-color);
  font-weight: bold;

  &.primary:not(:disabled) {
    border-color: var(--color-primary);
    color: var(--color-primary);

    @include focusOutline(var(--color-primary));

    &:hover,
    &:focus {
      background-color: var(--color-primary);
    }
  }

  &.secondary:not(:disabled) {
    border-color: var(--color-secondary);
    color: var(--color-secondary);

    @include focusOutline(var(--color-secondary));

    &:hover,
    &:focus {
      background-color: var(--color-secondary);
    }
  }

  &.tertiary:not(:disabled) {
    border-color: var(--color-tertiary);
    color: var(--color-tertiary);

    @include focusOutline(var(--color-tertiary));

    &:hover,
    &:focus {
      background-color: var(--color-tertiary);
    }
  }

  &.default:not(:disabled) {
    border-color: var(--default);
    color: var(--default);

    @include focusOutline(var(--default));

    &:hover,
    &:focus {
      background-color: var(--default);
    }
  }

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    color: var(--button-outline-hover-text-color);
  }

  &:disabled {
    border-color: var(--greyed-out);
    background-color: transparent;
  }
}

.text {
  border-color: transparent;
  background-color: transparent;

  &.primary:not(:disabled) {
    color: var(--color-primary);

    @include focusOutline(var(--color-primary));

    &:hover,
    &:focus {
      border-color: var(--color-primary);
    }

    &:active {
      background-color: transparent;
      position: relative;
      color: var(--color-primary);
      border-color: var(--button-fill-background-color);

      &:after {
        content: '';
        position: absolute;
        top: calc(-1 * var(--button-border-width) + (var(--button-border-width) / 2));
        left: 0;
        width: 100%;
        height: calc(100% + var(--button-border-width));
        background-color: var(--color-primary);
        border-radius: var(--button-border-radius);
        filter: opacity(0.1);
      }
    }
  }

  &.secondary:not(:disabled) {
    color: var(--color-secondary);

    @include focusOutline(var(--color-secondary));

    &:hover,
    &:focus {
      border-color: var(--color-secondary);
    }

    &:active {
      background-color: transparent;
      position: relative;
      color: var(--color-secondary);
      border-color: var(--button-fill-background-color);

      &:after {
        content: '';
        position: absolute;
        top: calc(-1 * var(--button-border-width) + (var(--button-border-width) / 2));
        left: 0;
        width: 100%;
        height: calc(100% + var(--button-border-width));
        background-color: var(--color-secondary);
        border-radius: var(--button-border-radius);
        filter: opacity(0.1);
      }
    }
  }

  &.tertiary:not(:disabled) {
    color: var(--color-tertiary);

    @include focusOutline(var(--color-tertiary));

    &:hover,
    &:focus {
      border-color: var(--color-tertiary);
    }

    &:active {
      background-color: transparent;
      position: relative;
      color: var(--color-tertiary);
      border-color: var(--button-fill-background-color);

      &:after {
        content: '';
        position: absolute;
        top: calc(-1 * var(--button-border-width) + (var(--button-border-width) / 2));
        left: 0;
        width: 100%;
        height: calc(100% + var(--button-border-width));
        background-color: var(--color-tertiary);
        border-radius: var(--button-border-radius);
        filter: opacity(0.1);
      }
    }
  }

  &.default:not(:disabled) {
    color: var(--default);

    @include focusOutline(var(--default));

    &:hover,
    &:focus {
      border-color: var(--default);
    }

    &:active {
      background-color: transparent;
      position: relative;
      color: var(--default);
      border-color: var(--button-fill-background-color);

      &:after {
        content: '';
        position: absolute;
        top: calc(-1 * var(--button-border-width) + (var(--button-border-width) / 2));
        left: 0;
        width: 100%;
        height: calc(100% + var(--button-border-width));
        background-color: var(--default);
        border-radius: var(--button-border-radius);
        filter: opacity(0.1);
      }
    }
  }
}

.has-icon {
  display: flex;
  align-items: center;

  &.start-icon {
    padding-left: 1rem;
    padding-right: 1.25rem;
  }

  &.end-icon {
    padding-left: 1.25rem;
    padding-right: 1rem;
  }
}
