@import '../readyclasses.module.scss';
@import './Button.module.scss';

.icon-button {
  border: var(--button-border-width) var(--button-border-style) transparent;
  background-color: transparent;
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    vertical-align: top;
  }

  /** Sizes **/
  &.button-s {
    svg {
      font-size: 14px;
    }
    width: 30px;
    height: 30px;
  }

  &.button-m {
    svg {
      font-size: 24px;
    }
    width: 40px;
    height: 40px;
  }

  &.button-l {
    svg {
      font-size: 34px;
    }
    width: 50px;
    height: 50px;
  }

  &.fill {
    color: var(--button-fill-text-color);
    font-weight: bold;

    @include buttonColorVariants('fill', 'icon');

    &:hover:not(:disabled),
    &:focus:not(:disabled),
    &:active:not(:disabled) {
      background-color: var(--button-fill-background-color);
    }

    &:disabled {
      background-color: var(--disabled);
      border-color: var(--disabled);
    }
  }

  &.text {
    border-color: transparent;
    background-color: transparent;

    @include buttonColorVariants('text', 'icon');
  }

  &.outline {
    background-color: var(--button-fill-background-color);
    font-weight: bold;

    @include buttonColorVariants('outline', 'icon');

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      color: var(--button-outline-hover-text-color);
    }

    &:disabled {
      border-color: var(--greyed-out);
      background-color: transparent;
    }
  }
}
