@import '../readyclasses.module.scss';
@import '../mixins.module.scss';

.icon-button {
  border: var(--button-border-width) var(--button-border-style) transparent;
  background-color: transparent;
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: auto;

  span {
    vertical-align: top;
  }

  /** Sizes **/
  &.button-s {
    span {
      font-size: 0.75rem;
    }
    width: 1.875rem;
    height: 1.875rem;
  }

  &.button-m {
    span {
      font-size: 1rem;
    }
    width: 2.5rem;
    height: 2.5rem;
  }

  &.button-l {
    span {
      font-size: 1.375rem;
    }
    width: 3.125rem;
    height: 3.125rem;
  }

  &.fill {
    @include button('fill', 'icon');
  }

  &.text {
    @include button('text', 'icon');
  }

  &.outline {
    @include button('outline', 'icon');
  }
}
