*.log
*-
.DS_Store
node_modules
.cache
dist
!.storybook/addon/dist
coverage/
storybook-static/
.nvmrc
.vscode/

bundle-analysis.html
test-report.xml

# Intellij project files
*.iml
*.ipr
*.iws
.idea/

# yalc
/.yalc/
/yalc.lock

.turbo