.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  max-width: 105rem;

  &.collapsed-header {
    padding: 1rem 2rem 1rem 2rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  &-background-color {
    background-color: var(--color-blue-grey25);
  }

  & button.back-arrow {
    width: 16px;
    height: 16px;
    display: block;

    gap: 0.5rem;
  }
}

.hide-text {
  display: none;
}

.header-text {
  margin: 0;
  font-weight: 500;
  color: var(--color-blue-grey900);
  line-height: 3.125rem;
  display: flex;
  align-items: center;

  div {
    vertical-align: middle;
    align-self: center;
    margin-left: 0.5rem;

    &:first-child {
      margin-left: 1rem;
    }
  }

  & button.back-arrow {
    margin-right: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
  }
}

.header-subtitle {
  color: var(--color-blue-grey400);
  font-weight: 500;
}

.back-text {
  font-size: 14px;
  font-weight: 400;
  margin-left: 0.5rem;
}

.buttons-wrapper {
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
  gap: 1rem;
}
