.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  max-width: 105rem;

  &.collapsed-header {
    padding: 1rem 2rem 1rem 2rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  &-background-color {
    background-color: var(--color-blue-grey25);
  }
}

.hide-description {
  display: none;
}

.header-text {
  margin: 0;
  font-weight: 700;
  color: var(--color-primary500);
  line-height: 2.25rem;
}

.buttons-wrapper {
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
  gap: 1rem;
}
