.form-group {
  position: relative;
}

.error {
  color: var(--error);
}

.error-message {
  display: flex;
  align-items: flex-end;
}

.error-icon {
  margin-right: 8px;
  font-size: 20px;

  &-before {
    margin-right: 8px;
  }

  &-after {
    margin-left: 8px;
  }
}

.default-helper {
  font-size: 12px;
}