:root {
	--color-primary: ;
	--color-secondary: ;
	--color-tertiary: ;

	--default-font-size: ;

	--button-primary-color: ;
	--button-secondary-color: ;
	--button-tertiary-color: ;
	--button-border-radius: ;
	--button-border-width: ;
	--button-font-size: ;
	--button-border-style: ;
	
	--default: ;
	--success: ;
	--error: ;
	--disabled: ;
	--greyed-out: ;
	--warning: ;
}