:root {
	--color-primary: #9e006b;
	--color-secondary: #003b5e;
	--color-tertiary: #ff1e4e;

	--default-font-size: 16px;

	--button-primary-color: var(--color-primary);
	--button-secondary-color: var(--color-secondary);
	--button-tertiary-color: var(--color-tertiary);
	--button-border-radius: 20px;
	--button-border-width: 2px;
	--button-font-size: var(--default-font-size);
	--button-border-style: solid;
	--button-fill-color: #FFF;

	--default: #0f0f1e;
	--success: #008A28;
	--error: #E22A1D;
	--disabled: #E9E9EB;
	--greyed-out: #6F6F76;
	--warning: #FF6105;
}