.snackbar {
  padding: 1rem 1.25rem;
  border-radius: var(--snackbar-border-radius);
  display: flex;
  width: 100%;
  box-sizing: border-box;

  &.info {
    background-color: var(--snackbar-info-background-color);
  }

  &.success {
    background-color: var(--snackbar-success-background-color);
  }

  &.error {
    background-color: var(--snackbar-error-background-color);
  }

  & + & {
    margin-top: 0.5rem;
  }

  .container {
    flex: 1;
  }

  .headline {
    display: flex;
    color: var(--snackbar-text-color);

    .close-btn {
      color: var(--snackbar-text-color);

      &:hover,
      &:focus {
        border-color: var(--snackbar-text-color);
      }

      &:active {
        border-color: transparent;

        &:after {
          top: 0;
          height: 100%;
          background-color: var(--snackbar-text-color);
        }
      }
    }
  }

  .icon {
    color: var(--snackbar-text-color);
    margin-top: 0.5rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  .title {
    flex: 1;
    margin: calc(0.5rem - 0.125rem) 1.25rem 0 0.75rem;
  }

  .content {
    margin: 0.25rem 0.75rem 0 0.75rem;
    color: var(--snackbar-text-color);
    /*below to be removed*/
    font-size: 16px;
    line-height: 24px;
  }

  .actions {
    margin: 0.5rem 0.75rem 0 0.75rem;
    text-align: right;
  }

  .action-button {
    border-width: var(--button-border-width);
    border-style: var(--button-border-style);
    border-radius: var(--button-border-radius);
    font-size: var(--button-font-size);
    line-height: var(--button-font-size);
    font-weight: 700;
    margin: 0;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    transition: color, background-color, border-color 0.2s ease-in-out;
    font-family: var(--font-family);
    color: var(--snackbar-text-color);
    background-color: transparent;
    border-color: transparent;

    &:disabled {
      color: var(--greyed-out);
      cursor: not-allowed;
    }

    &:not(:disabled):hover,
    &:not(:disabled):focus {
      border-color: var(--snackbar-text-color);
    }

    &:active {
      position: relative;
      border-color: transparent;
      border: 0;
      padding: calc(0.625rem + var(--button-border-width))
        calc(1.25rem + var(--button-border-width));

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--snackbar-text-color);
        border-radius: var(--button-border-radius);
        filter: opacity(0.1);
      }
    }

    & + .action-button {
      margin-left: 1rem;
    }
  }
}

@media only screen and (min-width: 37.5rem) {
  .snackbar {
    width: 37.5rem;
  }
}
