$listItemHeight: 34px;

.select {
  border-color: var(--input-border-color);
  border-style: var(--input-border-style);
  border-width: var(--input-border-width);
  border-radius: var(--input-border-radius);
  position: relative;
  box-sizing: border-box;
  transition: all .15s ease-in-out;

  &.expanded {
    border: var(--input-border-width) solid transparent;

    .list-wrapper {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &:hover:not(.disabled):not(.expanded) {
    border-top-color: var(--default);
    border-left-color: var(--default);
    border-right-color: var(--default);
    border-bottom-color: var(--default);
  }

  button {
    width: 100%;
    min-height: 61px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0 15px;
    position: relative;
  }

  .list-wrapper {
    border-color: var(--input-border-color);
    border-style: var(--input-border-style);
    border-width: var(--input-border-width);
    border-radius: var(--input-border-radius);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.29);
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    opacity: 0;
    pointer-events: none;
  }

  ul {
    box-sizing: border-box;
    padding: 5px 0;
    width: 100%;
    margin: 0;
    list-style: none;
    background-color: #fff;
    border-radius: 0 0 var(--input-border-radius) var(--input-border-radius);
    color: var(--default);
    text-align: left;
    overflow: auto;
    max-height: calc($listItemHeight * 10);

    li {
      padding: 8.5px 15px;
      margin: 0;
      position: relative;
      line-height: 1;
      cursor: pointer;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: transparent;
        width: 100%;
        height: 100%;
        opacity: 0.05;
      }

      &:hover:after {
        background-color: var(--color-primary);
      }
    }
  }
}

.selected-option {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-primary);
    width: 100%;
    height: 100%;
    opacity: 0.1;
  }
}

.selected {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  pointer-events: none;
}

.status {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;

  .warning {
    color: var(--error);
    font-size: 20px;
  }

  * + * {
    margin-left: 10px;
  }
}

.placeholder {
  color: var(--greyed-out);
}

.error {
  border-color: var(--error);
  color: var(--error);
}

.select-search {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1px;
}

.disabled {
  cursor: not-allowed;
  color: var(--greyed-out);
  background-color: var(--disabled);

  > * {
    pointer-events: none;
  }
}