@import "../../readyclasses.module.scss";

$listItemHeight: 2.125rem;

.select {
  position: relative;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  border: 0;
  border-radius: var(--input-border-radius);
  background-color: var(--input-background-color);
  font-size: var(--font-size);

  [data-display] {
    color: var(--greyed-out);
  }

  &.expanded {
    border: var(--input-border-width) solid transparent;

    .list-wrapper {
      background: var(--white);
    }
  }

  &:not(.expanded) {
    button:focus-visible:not(.error) {
      border: var(--input-border-width-focus) solid var(--color-primary);
      padding: 0 calc(1.25rem - var(--input-border-width-focus) + var(--input-border-width));
    }
  }

  &:hover:not(.disabled):not(.expanded):not(.error) {
    button {
      border-color: var(--default);
      border-width: var(--input-border-width);
    }
  }

  .custom-select {
    position: relative;
    width: 100%;
    min-height: calc(4rem - (2 * var(--input-border-width)));
    border: 0;
    padding: 0 1.25rem;
    background-color: transparent;
    border-color: var(--light-grey-border);
    border-style: var(--input-border-style);
    border-width: var(--input-border-width);
    border-radius: var(--input-border-radius);
    font-size: var(--font-size);
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:focus-visible {
      outline: 0;
    }

    &.error {
      border-color: var(--error);
      color: var(--error);
    }

    &.error:focus-visible {
      border-width: var(--input-border-width-focus);
    }
  }

  .list-wrapper {
    border-color: var(--light-grey-border);
    border-style: var(--input-border-style);
    border-width: var(--input-border-width);
    border-radius: var(--input-border-radius);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.29);
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    overflow: auto;
  }

  ul {
    box-sizing: border-box;
    padding: 0.25rem 0;
    width: 100%;
    margin: 0;
    list-style: none;
    background-color: var(--white);
    border-radius: var(--input-border-radius);
    color: var(--default);
    text-align: left;
    max-height: calc($listItemHeight * 10);

    li {
      padding: 0.5rem 1rem;
      font-size: var(--font-size);
      margin: 0;
      position: relative;
      line-height: 1;
      cursor: pointer;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: transparent;
        width: 100%;
        height: 100%;
        opacity: 0.05;
      }

      &:focus-visible {
        outline: 1px solid var(--color-primary);
        outline-offset: -1px;
      }

      &:hover:after {
        background-color: var(--color-primary);
      }

      &.disabled {
        color: var(--greyed-out);
        background-color: var(--disabled);
        pointer-events: none;
      }
    }
  }
}

.selected-option {
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-primary);
    width: 100%;
    height: 100%;
    opacity: 0.1;
  }
}

.selected {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.status {
  position: absolute;
  top: 50%;
  right: 1.625rem;
  transform: translateY(-50%);
  display: flex;
  align-items: center;

  .warning {
    color: var(--error);
    font-size: 1.25rem;
  }

  .triangle-down {
    color: var(--default);
    font-size: 0.625rem;
  }

  * + * {
    margin-left: 1.25rem;
  }
}

.placeholder {
  color: var(--greyed-out);
}

.select-search-wrapper + ul {
  border-radius: 0 0 var(--input-border-radius) var(--input-border-radius);
}

.select-search {
  width: 100%;
  box-sizing: border-box;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.disabled {
  cursor: not-allowed;
  color: var(--greyed-out);
  background-color: var(--disabled);

  > * {
    pointer-events: none;
  }
}
